@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  margin: 0;
  padding: 0;
  
}

.topo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;   
  border: 3px solid black;
  background: rgb(3, 3, 64);
  z-index: 1001;
  border-bottom: 3px groove rgb(226, 217, 217);
  display: flex;
  justify-content: space-between;
  align-items: center;
    

}

.logo {
  text-align: left;
  align-items: center;
  padding-left: 10px;
  line-height: 1px; /* Ajuste conforme necessário */
  color: rgb(255, 255, 255);
  flex: 1;
  height: 35PX;
}


.f_inst {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  gap: 10px; /* Espaçamento entre os itens */
  text-align: right;
  flex: 1;
  margin-right: 30px;
  /* margin-left: 1000px; */
  text-decoration: none;
}

.f_topo a{
  color: rgb(255, 255, 255);
  /* display:flex; */
  align-items: center;
  gap: 10px; /* Espaçamento entre os itens */
  text-align: right;
  /* flex: 1; */
  margin-right: 30px;
  /* margin-left: 1000px; */
  text-decoration: none;
  border-bottom: 2px solid white;
}

.f_topo a:hover{
 color: rgb(206, 184, 85);
 border-bottom: 2px solid rgb(206, 184, 85);
}


.dados{
  margin: 5px;
background: rgb(10, 96, 117);
  
}

.table{
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 15px 15px 15px 15px ;
  width: 100%;
  text-align: center;
  border: 3px groove;
}

thead{
      background-color: #f2f2f2; 
      color: #333; 
      text-align: center;
      width: 100%;
}

td,th {
  padding: 12px;
  border: 1px solid #ddd; /* Adiciona borda às células */
}
