@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
}



.topo{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 30%;
    background: rgb(0, 0, 0);
    z-index: 1;
    color: #9fc1cc;
 }

 .topo h1{
    margin-left: 50px;
    margin-top: 35px;
    text-align: center;
    
 }

 legend{
    text-align: center;
    border: 2px;
    font-weight: bold;
    font-size: 18px;
 }

.box {
    background-color: rgb(187, 214, 196);
    padding: 26px;
    border-radius: 22px;
   border: 1px solid saddlebrown;
   position: relative;
   margin-top: 110px;
   margin-left: 30px;
   margin-right: 30px;
   margin-bottom: 30px;
   font-family: "Inter", sans-serif;
   color: rgb(0, 0, 0);
   z-index: 3;
} 

.caixa_form{
    padding:3px;
    border-radius: 5px;
}



.inputBox{
    position: relative;
}

.inputUser{
    background: none;
    border: 1px solid rgb(62, 135, 194) ;
    height: 30px;
    /* border-bottom: 1px solid white; */
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    width: 95%;
    letter-spacing: 1px;
    border-radius: 5px;
    z-index: 2;
    padding-left: 5px;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    position: relative;
    
}
.labelInput{
    position: absolute;
    top: 7.5px;
    left: 5px;
    pointer-events: none;
    transition: .5s;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput {
    top: -20px;
    font-size: 13px;
    color: #895F5E;
    font-weight: bold;
}

.form-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Espaço entre as colunas */
    padding: 10px;
}

.coluna-50l{
    display: inline-block;
    /* float: left; */
    width: 47.5%;
    flex: 1;
}

.coluna-50r{
    display: inline-block;
    /* float: right; */
    width: 47.5%;
    margin-left: 2.05%; 
    flex: 1;
}


.background_inf{
    top: 30%;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #9fc1cc;
    /* background: rgb(129, 191, 208); */
    z-index: 1;
}

#update{
    background: #9fc1cc;
    width: 100%;
    border: 2px solid rgb(9, 19, 140);
    padding: 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 22px;
}
#update:hover{
    background:  #063444;
    border: 2px solid rgb(8, 39, 60);
    
}