.pesquisar {
    border: 3px solid black;
    border-radius: 20px;
    width: 350px;
    padding-left: 5px;
    /* padding: 3PX; */
}

.pesqlabel {
    color: rgb(3, 3, 64);
    
}

.submitpesq {
    border-radius: 20px;
    /* padding: 3px; */
    padding-inline: 10px;
    /* background: rgb(160, 140, 140); */
    background:  rgb(3, 3, 64);
    border: 3px solid;
    border-color: rgb(172, 186, 192);
    color: white;
}



/* Icones do google google */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}