@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  margin: 0;
  padding: 0;
}

.topo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;   
  border: 3px solid black;
  background: rgb(3, 3, 64);
  z-index: 1001;
  border-bottom: 3px groove rgb(226, 217, 217);
  display: flex;
  justify-content: space-between;
  align-items: center;
    

}

.logo {
  text-align: left;
  align-items: center;
  padding-left: 10px;
  line-height: 1px; /* Ajuste conforme necessário */
  color: rgb(255, 255, 255);
  flex: 1;
  height: 35PX;
}


.f_inst {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  gap: 10px; /* Espaçamento entre os itens */
  text-align: right;
  flex: 1;
  margin-right: 30px;
  /* margin-left: 1000px; */
  text-decoration: none;
}

.f_topo a{
  color: rgb(255, 255, 255);
  /* display:flex; */
  align-items: center;
  gap: 10px; /* Espaçamento entre os itens */
  text-align: right;
  /* flex: 1; */
  margin-right: 30px;
  /* margin-left: 1000px; */
  text-decoration: none;
  border-bottom: 2px solid white;
}

.f_topo a:hover{
 color: rgb(206, 184, 85);
 border-bottom: 2px solid rgb(206, 184, 85);
}

.menu {
    position: fixed;
    top: 50px;
    left: 0;
    width: 20%;
    height: calc(100% - 50px);
    background-color: #d6dade; /* Cor de fundo opcional */
    z-index: 1000; /* Certifique-se de que a div fique acima de outros elementos */
    border-right: 3px groove rgb(226, 217, 217);
    text-align: center;
    /* margin-top: 50PX; */
    margin-top: 1px;
    float: left;

  }


  .menu a{
    /* border: 3px solid black;
    border-radius: 10px; */
    /* padding: 5px; */
    text-align: center;
    /* margin-top: 50px;
    padding: 20px; */
    text-decoration: none;
    color:rgb(3, 3, 64);
    font-size: 17px ;
    font-family: "Afacad Flux", sans-serif;
    /* font-weight: bold; */
    font-weight: 600;
  }

.menu a:hover {
  color: green;
  cursor: pointer;
  
}


.principal {
  position: fixed;
  background: rgb(253, 253, 255);
  top: 50px;
  margin-left: 20%;
  float: left;
  width: 100%;
  height: 100%;
 
}


/* Icones do google google */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 20
}
